<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>This is title </title>
</head>
<body>
    <p>
        Hi, Nice meeting you. Just wanted to let you know that this is just a tesitng email so don't bother replying to it.
    </p>
    <img src="http://localhost:8000/gAAAAABj6gXAc0qn0Sg4qRWh8ot6RhI8yfu5ZPFhjtEe84nt9qsl1Il_yQ3kUEwFip9Ot1iyU649Zq8RtNKG-2QmeGggIxoe8DrpEqKx2wtHRxsft0882-TVm9HBshKG2qBS9K31n1KbOUU1-PiBV39i1iWloWgPvGpdX8yDZS0jBknGuxx1RBwqqaxTKRc9d_3qCAiqzecPoLw4cRzbFrA3qaOns__1RihOJSDtGqrNUtiOKYnTBK3AhfAPRsVa6XYo-MxjGDZP"/>
</body>
</html>